@charset "utf-8";

/* ---共通--- */
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6em;
    letter-spacing: 0.15em;
    line-height: 1.7;
    color: #333;
    background-color: white;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
}

img {
    width: 100%;
}

.wrapper {
    margin: auto 10vw;
}

.wrapper:nth-last-of-type(1) {
    margin-bottom: 100px;
}

ul {
    list-style: none;
}

.text {
    display: flex;
    justify-content: center;
    margin: 100px 0;
}

.ttl {
    font-size: 3em;
    position: relative;
    font-family: "Mukta", sans-serif;
    font-weight: 400;
    text-transform: capitalize;
}
.ttl::after {
    width: 100%;
    height: 3px;
    margin: -5px 0 0 0;
    content: "";
    display: block;
    background-color: #333;
}

/* ---header--- */
.header-wrapper {
    width: 100%;
    height: 100px;
    padding: 0 10%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: clamp(40px, 5vw, 60px);
    height: auto;
}

.logo a {
    display: flex;
}

.nav-list {
    font-size: clamp(0.2em, 3vw, 1.6rem);
    display: flex;
    font-family: "Mukta", sans-serif;
    font-weight: 400;
}

.nav-item {
    font-size: 1.6em;
    text-transform: capitalize;
}

.nav-item:not(:nth-child(3)) {
    margin: 0 1em 0 0;
}

.nav-item a {
    text-decoration: none;
    color: #333;
}

.nav-item a:hover {
    opacity: 0.7;
}

/* ---fv--- */
.fv {
    height: calc(100vh - 100px);
    background: url(../img/fv.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
}

.fvtitle{
    width: auto;
    color: white;
    font-family: "Bebas Neue", cursive;
    font-weight: 400;
    font-size: clamp(2.2em, 8vw, 3.5em);
    position: absolute;
    top: 42%;
    left: 15%;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

/* scrolldown */
.scrolldown {
    position: absolute;
    bottom: 1%;
    right: 50%;
    animation: arrowmove 1s ease-in-out infinite;
}

@keyframes arrowmove {
    0% {
        bottom: 1%;
    }
    50% {
        bottom: 3%;
    }
    100% {
        bottom: 1%;
    }
}

.scrolldown span {
    position: absolute;
    left: -25px;
    bottom: 5px;
    color: white;
    font-size: 0.8em;
    letter-spacing: 0.05em;
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

.scrolldown:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: -6px;
    width: 3px;
    height: 20px;
    background: white;
    transform: skewX(-31deg);
}

.scrolldown:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 3px;
    height: 50px;
    background: white;
}

/* ---work--- */
.card-wrapper {
    width: 100%;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-item {
    width: 280px;
    height: auto;
    margin: 15px;
}

.card-item a img {
    box-shadow: 0px 0px 8px -4px #969696;
}

/* ---create--- */
.con {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.con-item {
    width: 30%;
    text-align: center;
}

.con-item img {
    width: 50px;
    height: auto;
}

.h-text {
    font-size: 1.6em;
    font-family: "Mukta", sans-serif;
    font-weight: 300;
}

.detail {
    width: 80%;
    height: auto;
    margin: 1.5em auto 0;
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: 400;
}

/* ---about--- */
.name {
    font-family: "Mukta", sans-serif;
    font-weight: 300;
    margin-top: 2em;
    text-transform: uppercase;
}

.profile-list {
    margin: 1.5em auto 0;
}

.profile-list li {
    font-family: "Mukta", sans-serif;
    font-weight: 300;
}

.name,
.profile-list {
    font-size: 1.2em;
}

/* ---work詳細ページ--- */
.work-wrapper {
    margin: 10em 10vh;
}

.work-text {
    font-family: "Mukta", sans-serif;
    font-weight: 400;
    font-size: 2.4em;
    display: flex;
    align-items: center;
    margin-bottom: 10rem;
}

.work-text::before {
    content: "";
    flex-grow: 0.2;
    height: 0.08em;
    background-color: #333;
    margin: 0 0.3em 0 0;
}

.work-image-wrapper {
    display: flex;
    justify-content: center;
}

.work-image {
    width: 450px;
    height: auto;
    margin: 2em 0;
}

.work-image:not(:nth-last-child(1)) {
    margin-right: 1em;
}

.work-image img {
    box-shadow: 0px 0px 8px -4px #969696;
}

.text-box {
    margin-bottom: 5em;
}

.title,
.role,
.code,
.responsive-com,
.detail-text {
    text-align: left;
}

.title {
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: 400;
    font-size: 1.5em;
}

.toTabimg {
    width: 0.5em;
    height: auto;
    margin-left: 0.2em;
}

.toTabimg:hover {
    opacity: 0.5;
}

.code {
    font-family: "Mukta", sans-serif;
    font-weight: 300;
}

.role,
.responsive-comm,
.detail-text {
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: 400;
}

.movebtn {
    display: flex;
    justify-content: space-between;
    font-family: "Mukta", sans-serif;
    font-weight: 300;
}

.movebtn a {
    text-transform: capitalize;
    color: #333;
}

.movebtn a:hover {
    opacity: 0.7;
}

.hidden {
    visibility: hidden;
}

/* ---footer--- */
.back-to-top {
    display: none;
    position: fixed;
    right: 5%;
    bottom: 5%;
    color: #fff;
    padding: 2rem;
    border-radius: 50%;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Mukta", sans-serif;
    font-weight: 300;
}

.back-to-top::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 70px;
    height: 70px;
    background-color: #333;
    border: 5px solid white;
    border-radius: 50%;
    z-index: -1;
}

.copyright {
    background-color: #333;
    font-size: clamp(0.5em, 3vw, 0.75em);
    font-family: "Mukta", sans-serif;
    font-weight: 400;
    color: white;
    text-align: center;
    padding: 1em 0;
}

/* ---responsive(スマートフォン)--- */
@media screen and (max-width: 480px) {
    /* ---共通--- */

    .wrapper {
        margin: 5em 5vh;
    }

    .text {
        margin: 80px 0;
    }

    /* ---work detail--- */
    .work-wrapper {
        margin: 5em 5vh;
    }
    .work-image-wrapper {
        display: unset;
    }

    .work-image,
    .work-image:not(:nth-last-child(1)) {
        width: 80%;
        margin: 0 auto 2em;
    }

    .text-box {
        margin: 0 2em 5em;
    }
}

/* ---responsive(タブレット)---- */
@media screen and (max-width: 768px) {
    /* ---about--- */
    .con-item {
        width: 100%;
    }

    .con-item:not(:nth-last-child(1)) {
        margin: 0 0 5em 0;
    }

    .detail {
        margin: 0.5em auto 0;
    }

    .con {
        display: unset;
    }
}

/* ---responsive(その他)--- */
@media screen and (min-width: 1441px) {
    /* ---共通--- */
    .wrapper {
        max-width: 1440px;
        margin: 0 auto;
    }

    /* ---work detail--- */
    .work-wrapper {
        max-width: 1440px;
        margin: 10em auto;
    }
}
